<!doctype html>
<html>
<head>
  <title><%= json.project.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <% /*= t.include("partials/_adHead.html") */ %>

  <!-- typekit fonts -->
  <script>
  (function(d) {
    var config = {
      kitId: 'rvq5yyp',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
</head>
<body>

  <responsive-child class="map-container">
  <div id='menu' class="dog-menu">
    <input class="hidden" type="checkbox" checked id="names">
    <label for="names" class="name-button">Dollars contributed per person <span class="smallbutton">Select tab to hide or display</span></label> 
    <a class="type-button" data-type="view_lots">Lots with view</a> 
    <a class="type-button" data-type="nhw_pop">Non-Hispanic white<span class="smallbutton">Higher than 85%</span></a> 
    <a class="type-button" data-type="med_hh">Median household income<span class="smallbutton">Greater than $110,000</span></a> 
  </div>
  <div class="map-box">
    <div class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">

        <leaflet-map zoom=11>
        <tile-layer layer="cartoPositron"></tile-layer>
      </leaflet-map>

    </div>
  </div>

  <aside class="legend">
    <h1>Dollars contributed per person by block group</h1>
    <ul class="scale">
      <div class="legend-container">
        <li > <span class="block" style="background-color: #DDF4E9;"></span> $0.00 - $2.36
          <li > <span class="block" style="background-color: #A7CEB4;"></span> $2.37 - $6.14
            <li > <span class="block" style="background-color: #4C855F;"></span> $6.15 - $12.47
              <li > <span class="block" style="background-color: #0F3F18;"></span> $12.48 - $31.03
        
         </div>
       </ul>
       <cite class="source">Source: Xxxxx Xxxx <span class="credit">GARLAND POTTS / THE SEATTLE TIMES</cite>
     </aside>
   </div>
 </responsive-child>

 <script src="app.js"></script>
 <% /*= t.include("partials/_adFoot.html"); */ %>
 <%= t.include("partials/_workHere.html") %>
</body>
</html>
